.navbar{
    overflow: hidden;
    background-color: #333;
    padding: 15px 40px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.addNewShelve {
    text-align: center;
    margin: 10px 0;
}

.shelvesContainer {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
}

.shelve-link {
    text-decoration: none; 
}

.shelveCard {
    width: 300px;
    background-color: #ede7e7;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px; 
    flex-basis: calc(33.33% - 20px); 
    margin-bottom: 0;
    cursor: pointer;
    position: relative; 
}

.shelveCard:hover {
    background-color: #c8bdbd;
}

.shelve-nav {
    height: 55px;
    border-radius: 10px 10px 0 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

h2 {
    text-align: center;
    margin-top: 45px;
    margin-bottom: 5px;
}

h3 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #5f3753;
}

.book-count {
    text-decoration: none; 
    font-weight: bold;
}

.add-shelve-popup {
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 15px 30px;
    display: inline-block;
}

.add-shelve-popup span {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.add-shelve-popup input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.buttons {
    text-align: center;
}

.addButton, .cancelButton {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.addButton {
    background-color: #0074cc;
    color: #fff;
    margin-right: 10px;
}

.addButton:hover {
    background-color: #005ba8;
}

.cancelButton {
    background-color: #ff0000;
    color: #fff;
}

.cancelButton:hover{
    background-color: #9a2727;
}

#addShelve{
    color: black;
}

#addNewShelve{
    background-color: #0074cc;
}

#addNewShelve:hover{
    background-color: #005ba8;
}