.navbar{
    overflow: hidden;
    background-color: #333;
    padding: 15px 40px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.addnewbook{
    padding: 20px 40px;
}

.add-book-popup {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}
  
.add-book-popup h2 {
    margin-top: 0;
    color: #333;
}

.add-book-popup .input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.add-book-popup .input-group input {
    width: 40%; 
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.add-book-popup .buttons {
    display: flex;
    justify-content: space-between;
}

.add-book-popup button {
    width: 46%;
    padding: 10px;
    background-color: #0074cc;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.add-book-popup button.cancel {
    background-color: #ff0000; 
}

.add-book-popup button.cancel:hover {
    background-color: #9a2727; 
}
.add-book-popup button:hover {
    background-color: #005ba8;
}

.bookcards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.book-card {
    width: calc(33.33% - 20px); 
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.book-image {
    height: 200px; 
    background-size: cover;
    background-position: center;
    position: relative;
}

.book-details {
    padding: 20px;
    background: rgba(255, 255, 255, 0.8); 
    border-top: 1px solid #ddd;
    border-radius: 0 0 10px 10px;
}

.book-details h3 {
    margin: 0;
}

.book-details h5 {
    margin: 2px 0 20px;
    font-size: 16px;
}

.book-details span {
    margin-bottom: 5px;
    display: block;
    font-size: 14px;
    color: #333;
}

.book-details .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-top: 10px;
}

.book-details button {
    padding: 8px;
    width: 45%;
    background-color: #0074cc;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.book-details button.edit-button:hover {
    background-color: #005ba8;
}

.book-details button.delete-button {
    background-color: #ff0000;
}

.book-details button.delete-button:hover {
    background-color: #9a2727;
}

#imageUrl {
    width: 100%;
}

#homeBookTitle{
    text-align: left;
}


